.green {
    color: #080;
}

.dark-green {
    color: #007430;
}

.white {
    color: #fff;
}

.red {
    color: #f00;
}

.grey {
    color: #808080;
}

.dark-blue {
    color: #1b34a3;
}

.purple {
    color: #ba2ae6;
}

.gold {
    color: #ffd700;
}

.big {
    font-size: 1.2rem;
}

.black-bg {
    background-color: #000;
}