.button:hover {
    transform: translateY(-10%);

    background-color: #dddddd;

    cursor: pointer;
}

.button text:hover {
    text-decoration: underline;
}

.button img:hover {
    transform: rotate(-6deg)
}