/* TRANSFORM ANIMATION */
.transform-box {
  overflow: hidden;
  height: 55%;

  cursor: pointer;
}

.transform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  gap: 10px;
  transition: 1.5s;
}

.transform img {
  width: clamp(90px, 80%, 130px);
}

.transform:hover {
  transform: translateY(-100%);
}
