/* Resetting the browser properties */
* {
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-family: "Texturina", sans-serif;
  box-sizing: border-box;
}

.game {
  height: 100vh;
  width: 100vw;

  background-image: url("../public/images/bg/night-forest.png");
  background-size: cover;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "explore tavern armory"
    "stats stats player";
}

@media (max-width: 900px) {
  #player {
    background-position: right bottom 1.5vh;
  }
}

/* MEDIA QUERIES */

/* Medium-sized Screen */
@media (max-width: 1000px) {
  /* Buttons */
  .button {
    flex-direction: column;

    overflow: hidden;
  }

  .button img {
    margin: 0;
  }

  .button text {
    font-size: 2rem;
    margin-top: 1vh;
  }
}

@media (max-height: 500px) {
  .button img {
    display: none;
  }
}

/* Small-sized Screen */
@media (max-width: 700px) {
  .game {
    padding: 4vh 1vh 0 1vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 9vh 9vh 9vh 65vh;
    row-gap: 1vh;
    grid-template-areas:
      "explore explore"
      "tavern tavern"
      "armory armory"
      "stats player";

    overflow: hidden;
  }

  a {
    height: 100%;
    width: 100%;
  }

  .button {
    flex-direction: initial;
  }

  .button img {
    height: 6vh;
    margin-right: 6vw;

    transition-duration: 0.2s;
  }

  .button text {
    font-size: 2.2rem;
  }

  #stats {
    width: 100%;
  }
}
