/* Resetting the browser properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
    font-family: 'Texturina', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    border-radius: 2rem;
    
    min-width: 250px;
    height: 10vh;
    min-height: 50px;

    align-items: center;

}

.game {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg/night-forest.png");
    background-size: cover;
    background-repeat: repeat-x;

    display: grid;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "box escape"
                         "box monster";
}

.box {
    grid-area: box;

    height: 100%;
    width: 100%;
    background: rgb(204, 204, 204, 0.2);
    border-radius: 1.2rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#box__text {
    padding: 2rem;
    height: clamp(40vh, 60vh, 70vh);
    border-radius: 2rem;
    background-color: #fff;

    overflow-y: auto;
}

/* Button styles */
.button {
    padding: 2rem;
    border: 2px solid #888;
    background-color: #fff;
    height: 100%;
    width: 100%;

    border-radius: 2rem;

    align-items: center;
    justify-content: center;
    display: flex;

    transition-duration: 0.3s;

    overflow: clip;
}

.button img {
    height: 10vh;
    width: auto;

    transition-duration: 0.2s;
}

.button text {
    font-size: 2.2rem;
}

#escapeContainer {
    width: clamp(30%, 35%, 45%);
    justify-self: right;
    margin: 5rem;
}

#escapeContainer__button {
    background-color: #ff4444;
    color: #fff;
    flex-flow: row-reverse;
    justify-content: space-around;
}

#monster {
    justify-self: right;
    width: 30vw;
}

/* Media queries */
@media (max-width: 900px) {
    .game {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        grid-template-rows: 1fr 20vh 1.1fr;
        grid-template-areas: 'box box'
                             'escape escape'
                             'monster monster';
    }

    .box {
        min-height: 30vh;
    }

    #box__text {
        max-height: 30vh;
    }

    a {
        margin: 0;
        margin-top: 10px;
    }

    #escapeContainer {
        grid-area: escape;
        justify-self: center;
        margin: 0;
        margin-top: 10px;
    }

    #monster {
        grid-area: monster;
        width: 100%;
    }
    
    #escapeContainer__button img {
        display: none;
    }
}

@media (max-height: 400px) {
    .game {
        background-size: contain;
    }
}