/* Resetting the browser properties */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 16px;
    font-family: 'Texturina', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    border-radius: 2rem;

    width: 100%;
    height: 10vh;
    background-color: #ccc;

    display: flex;
    align-self: top;
    justify-content: right;
}

.game {
    width: 95vw;
    height: 95vh;
    background-image: url("../images/bg/night-forest.png");
    background-size: cover;

    display: grid;
    grid-template-areas: "box escape"
                         "box monster";
}

.box {
    grid-area: box;

    height: 100%;
    width: 100%;
    background: rgb(204, 204, 204, 0.2);
    border-radius: 1.2rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box__text {
    padding: 2rem;
    font-size: 20px;
    height: 80%;
    border-radius: 2rem;
    background-color: #fff;
}

/* Button styles */
.button {
    padding: 1rem;
    border: 2px solid #888;
    background-color: #fff;
    height: 100%;
    width: 100%;

    border-radius: 2rem;

    align-items: center;
    justify-content: center;
    display: flex;

    transition-duration: 0.3s;

    overflow: clip;
}

.button img {
    height: 10vh;
    width: auto;

    margin-right: 2vw;    
    transition-duration: 0.2s;
}

.button text {
    font-size: 2.2rem
}

#escapeContainer {
    width: 50%;
    background-color: rgb(255, 53, 53);
    justify-self: right;
    margin: 5rem;
}

#escapeContainer__button {
    background-color: #ff4444;
    color: #fff;
    flex-flow: row-reverse;
    align-self: right;
}


/* Media queries */
@media (max-width: 900px) {
    .game {
        width: 100vw;
        height: 100vh;

        overflow: hidden;
    }

    a {
        min-width: 150px;
    }

    .button {
        flex-direction: column;

        overflow: hidden;
    }

    .button img {
        width: 15vw;
        height: auto;
        margin: 0;
    }

    .button text {
        font-size: 2rem;
        margin-top: 1vh;
    }

    #armory {
        margin-top: 0;
    }
}