/* Resetting the browser properties */
* {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-family: 'Texturina', sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    border-radius: 2rem;
    
    width: clamp(25vw, 30vw, 35vw);
    height: 30vh;

    display: flex;
    justify-self: center;
    align-self: center;
}

.game {
    width: 100%;
    height: 100%;
    background-image: url("../images/bg/night-forest.png");
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "explore tavern"
                          "armory player";
}

#button__explore {grid-area: explore}
#button__tavern {grid-area: tavern}
#button__armory {grid-area: armory}
#player {
    grid-area: player;

    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "player__stats"
                         "player__image";
}

#player__stats {
    grid-area: player__stats;

    display: grid;
    grid-template-columns: repeat(3,1fr 2fr);
    grid-template-areas: "healthImg health coinsImg coins weaponImg weapon";
    align-items: center;
    align-self: center;

    padding: 1rem;

    max-width: 100%;
    max-height: 60%;
    background-color: white;

    border-radius: 20px;
}

#player__stats img {
    margin-left: 1vw;

    height: clamp(5vh, 6vh, 10vh);
}

#player__stats text {
    font-size: clamp(0.5rem, 2rem, 3rem);
    margin-left: 1vw;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#player__stats text:last-child {
    margin-right: 1rem;
}

#player__stats__health__image {grid-area: healthImg;}
#player__stats__health {grid-area: health;}
#player__stats__coins__image {grid-area: coinsImg;}
#player__stats__coins {grid-area: coins;}
#player__stats__weapon__image {grid-area: weaponImg;}
#player__stats__weapon {grid-area: weapon;}

/* Button styles */
.button {
    padding: 1rem;
    border: 4px solid #888;
    background-color: #fff;
    height: 100%;
    width: 100%;

    border-radius: 2rem;

    align-items: center;
    justify-content: center;
    display: flex;

    transition-duration: 0.3s;

    overflow: clip;
}

.button img {
    height: clamp(5vh, 10vh, 15vh);
    max-width: 20vw;
    width: auto;

    margin-right: 2vw;
    
    transition-duration: 0.2s;
}

.button text {
    font-size: 2.2rem
}


/* Media queries */
@media (max-width: 900px) {
    /* Whole screen */
    .game {
        width: 100vw;
        height: 100vh;

        overflow: hidden;
    }

    /* Buttons */
    a {
        min-width: 150px;
    }

    .button {
        flex-direction: column;

        overflow: hidden;
    }

    .button img {
        height: auto;
        margin: 0;
    }

    .button text {
        font-size: 2rem;
        margin-top: 1vh;
    }

    /* Armory Button */
    #armory {
        margin-top: 0;
    }

    /* Stats Area */
    #player__stats {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "healthImg health"
                             "coinsImg coins" 
                             "weaponImg weapon";
    }
}

@media (max-height: 500px) {
    .button img {
        display: none;
    }
}